/* Reset styles */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  margin: 0;

  font-family: sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

/* Remove default from navigation */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation styles */

.nav-list ul {
  height: 100%;

  display: grid;
  grid-auto-flow: column;
  gap: 1.825rem;
}

.nav-list a,
.nav-list a:visited {
  text-decoration: none;

  color: inherit;
}

.nav-list a:hover {
  color: blue;
}

/* Layout styles */

.center {
  max-width: 1000px;

  margin: 0 auto;
  padding: 0 1rem;
}

/* Grid styles */

.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.two-column-grid__three-and-two {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1.5rem;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.align-items__center {
  display: grid;
  align-items: center;
}

/* Utility styles */

.sm-logo {
  width: 20px;
}

.md-logo {
  width: 150px;
}

.rounded-corners-md {
  border-radius: 0.5rem;
}

.bg-white {
  background-color: white;
}

.blue-text {
  color: blue;
}

.text-align__center {
  text-align: center;
}

/* Header styles */

.main-header {
  height: 60px;
}

.main-header a {
  font-size: 0.825rem;
}

.navigation-wrapper {
  height: 100%;
}

.button {
  padding: 0.25rem 1rem;

  border-radius: 0.25rem;
}

.blue-button {
  border: 1px solid blue;

  color: blue;
}

.white-text {
  color: white;
}

/* Main styles */

#hero-section {
  background-color: blue;

  padding: 2rem 0;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;

  font-size: 3rem;
}

.signup-form {
  padding: 1rem;
}

.signup-form input,
.signup-form button {
  display: block;

  width: 100%;
  margin-bottom: 0.5rem;
}

.signup-form button a {
  text-decoration: none;
}

#products img,
#testimonials img {
  width: 500px;
}
