/* Reset styles */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  margin: 0;

  font-family: sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

/* Remove default from element */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
